---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import About from "../components/About.astro";
import Works from "../components/Works.astro";
import Skills from "../components/Skills.astro";
import Certifications from "../components/Certifications.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";

import photo from "../utils/images/portrait.webp";
import computer from "../utils/images/computer.gif";
import talk from "../utils/images/talk.gif";
---

<Layout title="Portfolio | Jonatan Palacios">
    <div class="parent">
        <div class="card div1">
            <Image
                src={photo}
                class="img_photo"
                alt="foto de jonatan palacios dev"
            />
            <button class="btn_download">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" >
                    <path d="M12.5535 16.5061C12.4114 16.6615 12.2106 16.75 12 16.75C11.7894 16.75 11.5886 16.6615 11.4465 16.5061L7.44648 12.1311C7.16698 11.8254 7.18822 11.351 7.49392 11.0715C7.79963 10.792 8.27402 10.8132 8.55352 11.1189L11.25 14.0682V3C11.25 2.58579 11.5858 2.25 12 2.25C12.4142 2.25 12.75 2.58579 12.75 3V14.0682L15.4465 11.1189C15.726 10.8132 16.2004 10.792 16.5061 11.0715C16.8118 11.351 16.833 11.8254 16.5535 12.1311L12.5535 16.5061Z" fill="#ffffff"/>
                    <path d="M3.75 15C3.75 14.5858 3.41422 14.25 3 14.25C2.58579 14.25 2.25 14.5858 2.25 15V15.0549C2.24998 16.4225 2.24996 17.5248 2.36652 18.3918C2.48754 19.2919 2.74643 20.0497 3.34835 20.6516C3.95027 21.2536 4.70814 21.5125 5.60825 21.6335C6.47522 21.75 7.57754 21.75 8.94513 21.75H15.0549C16.4225 21.75 17.5248 21.75 18.3918 21.6335C19.2919 21.5125 20.0497 21.2536 20.6517 20.6516C21.2536 20.0497 21.5125 19.2919 21.6335 18.3918C21.75 17.5248 21.75 16.4225 21.75 15.0549V15C21.75 14.5858 21.4142 14.25 21 14.25C20.5858 14.25 20.25 14.5858 20.25 15C20.25 16.4354 20.2484 17.4365 20.1469 18.1919C20.0482 18.9257 19.8678 19.3142 19.591 19.591C19.3142 19.8678 18.9257 20.0482 18.1919 20.1469C17.4365 20.2484 16.4354 20.25 15 20.25H9C7.56459 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15Z" fill="#ffffff"/>
                    </svg>
                CV</button>
        </div>
        <div class="card div2">
            <h2>Jonatan Palacios</h2>
            <p>Desarrollador web / Fullstack</p>
        </div>
        <div class="card div3">
            <Image class="computer" src={computer} alt="" />
        </div>

        <Experience />
        <About />

        <div class="card div6">
            <h2>redes</h2>
            <div class="row_flex">
                <a href="">
                    <svg
                        width="30px"
                        height="30px"
                        viewBox="0 0 16 16"
                        
                        fill="none"
                        ><path
                            fill="#0A66C2"
                            d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"
                        ></path></svg
                    >
                </a>
                <a href="">
                    <svg fill="#F70606" width="30px" height="30px" viewBox="0 0 32 32" version="1.1" >
                        <path d="M30.996 7.824v17.381c0 0 0 0 0 0.001 0 1.129-0.915 2.044-2.044 2.044-0 0-0 0-0.001 0h-4.772v-11.587l-8.179 6.136-8.179-6.136v11.588h-4.772c0 0 0 0-0 0-1.129 0-2.044-0.915-2.044-2.044 0-0 0-0.001 0-0.001v0-17.381c0-0 0-0.001 0-0.001 0-1.694 1.373-3.067 3.067-3.067 0.694 0 1.334 0.231 1.848 0.619l-0.008-0.006 10.088 7.567 10.088-7.567c0.506-0.383 1.146-0.613 1.84-0.613 1.694 0 3.067 1.373 3.067 3.067v0z"></path>
                        </svg>
                </a>

                <a href="">
                    <svg
                        width="30px"
                        height="30px"
                        viewBox="0 0 32 32"
                        fill="none"
                        
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16 31C23.732 31 30 24.732 30 17C30 9.26801 23.732 3 16 3C8.26801 3 2 9.26801 2 17C2 19.5109 2.661 21.8674 3.81847 23.905L2 31L9.31486 29.3038C11.3014 30.3854 13.5789 31 16 31ZM16 28.8462C22.5425 28.8462 27.8462 23.5425 27.8462 17C27.8462 10.4576 22.5425 5.15385 16 5.15385C9.45755 5.15385 4.15385 10.4576 4.15385 17C4.15385 19.5261 4.9445 21.8675 6.29184 23.7902L5.23077 27.7692L9.27993 26.7569C11.1894 28.0746 13.5046 28.8462 16 28.8462Z"
                            fill="#BFC8D0"></path>
                        <path
                            d="M28 16C28 22.6274 22.6274 28 16 28C13.4722 28 11.1269 27.2184 9.19266 25.8837L5.09091 26.9091L6.16576 22.8784C4.80092 20.9307 4 18.5589 4 16C4 9.37258 9.37258 4 16 4C22.6274 4 28 9.37258 28 16Z"
                            fill="url(#paint0_linear_87_7264)"></path>
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 18.5109 2.661 20.8674 3.81847 22.905L2 30L9.31486 28.3038C11.3014 29.3854 13.5789 30 16 30ZM16 27.8462C22.5425 27.8462 27.8462 22.5425 27.8462 16C27.8462 9.45755 22.5425 4.15385 16 4.15385C9.45755 4.15385 4.15385 9.45755 4.15385 16C4.15385 18.5261 4.9445 20.8675 6.29184 22.7902L5.23077 26.7692L9.27993 25.7569C11.1894 27.0746 13.5046 27.8462 16 27.8462Z"
                            fill="white"></path>
                        <path
                            d="M12.5 9.49989C12.1672 8.83131 11.6565 8.8905 11.1407 8.8905C10.2188 8.8905 8.78125 9.99478 8.78125 12.05C8.78125 13.7343 9.52345 15.578 12.0244 18.3361C14.438 20.9979 17.6094 22.3748 20.2422 22.3279C22.875 22.2811 23.4167 20.0154 23.4167 19.2503C23.4167 18.9112 23.2062 18.742 23.0613 18.696C22.1641 18.2654 20.5093 17.4631 20.1328 17.3124C19.7563 17.1617 19.5597 17.3656 19.4375 17.4765C19.0961 17.8018 18.4193 18.7608 18.1875 18.9765C17.9558 19.1922 17.6103 19.083 17.4665 19.0015C16.9374 18.7892 15.5029 18.1511 14.3595 17.0426C12.9453 15.6718 12.8623 15.2001 12.5959 14.7803C12.3828 14.4444 12.5392 14.2384 12.6172 14.1483C12.9219 13.7968 13.3426 13.254 13.5313 12.9843C13.7199 12.7145 13.5702 12.305 13.4803 12.05C13.0938 10.953 12.7663 10.0347 12.5 9.49989Z"
                            fill="white"></path>
                        <defs>
                            <linearGradient
                                id="paint0_linear_87_7264"
                                x1="26.5"
                                y1="7"
                                x2="4"
                                y2="28"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#5BD066"></stop>
                                <stop offset="1" stop-color="#27B43E"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </a>

                
            </div>
        </div>
        <div class="card div7">
            <h2>Mate y código</h2>
        </div>


        <Certifications />
        <Skills />

        <div class="card div10"></div>
        <div class="card div11">
            <Image class="computer" src={talk} alt="" />
        </div>
        <Works />
    </div>

    <Footer />
</Layout>
<style>
    .btn_download {
        color: white;
        background-color: blue;
        padding: 8px;
        width: 100%;
        border-radius: 1rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .img_photo {
        border-radius: 2rem;
        height: 150px;
        width: 150px;
    }
    .computer {
        height: 100px;
    }
    a {
        z-index: 100;
    }
</style>
<script></script>
