---
import Photo from "./Photo.astro";
import Skills from "./Skills.astro";
---

<div
    class="text-center uppercase pb-32 p-5 text-white pt-32 relative overflow-hidden"
    id="about"
>
    <div class="bg-box"></div>
    <div
        class="m-auto gap-4 grid max-w-[1024px] m-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-2"
    >
        <Photo />
        <div class="flex justify-center flex-col z-10 md:text-left">
            <h3 class="text-xl font-bold mb-5">
                Apsionado por el<span class="text-orange-400">aprendizaje</span>
            </h3>
            <p class="text-sm text-gray-200 leading-6">
                me apasiona crear sitios web y aplicaciones que sean faciles de
                usar, visualmente atractivos y que cumplan con los objetivos de
                mis clientes. estoy siempre buscando nuevos retos y estoy
                dispuesto a aprender nuevas tecnlogias para mejorar mis
                habilidades.
            </p>
            <Skills />
        </div>
    </div>
    
</div>
<style>
    .bg-box {
        background-color: #061323;
        position: absolute;
        width: 600px;
        height: 600px;
        left: -100px;
        bottom: -100px;
        border-radius: 50px; 
        transform: rotate(25deg);
    }
    .border {
        background: rgb(1, 17, 34);
        background: radial-gradient(
            circle,
            rgb(2, 24, 48) 0%,
            rgba(3, 15, 29, 1) 100%
        );
        z-index: 500;
    }
    
</style>
