---
import { Image } from "astro:assets";
import { SKILLS } from "../constants/index";
import flor from "../utils/images/flor.png"
---

<div class="card div5">
    <h2>About</h2>
    <p>
        me apasiona crear sitios web y aplicaciones que sean faciles de
        usar, visualmente atractivos y que cumplan con los objetivos de
        mis clientes. estoy siempre buscando nuevos retos y estoy
        dispuesto a aprender nuevas tecnlogias para mejorar mis
        habilidades.
    </p>
    <Image class="flower" src={flor} alt=""></Image>
</div>
<style>
    .flower {
        position: absolute;
        right: 1rem;
        bottom: 0;
        filter: brightness(50%);
    }
</style>