---
---
<section class="text-center relative overflow-hidden uppercase p-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pb-24 p-2 text-white gap-4 md:p-24">
    <div class="card border rounded-2xl p-5">
        <h3 class="mb-3 font-bold text-xl">Desarrollo de páginas web a medida</h3>
        <p class="text-left text-xs leading-6"> 
            <svg class="icon icon-tabler icon-tabler-corner-right-down text-orange-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4" /></svg>
            Destaca en el mundo digital con un a pagina web diseñada y desarrollada a la medida de tus necesidades.</p>
        <p class="text-left text-xs leading-6 mb-5">
            <svg class="icon  icon-tabler icon-tabler-corner-right-down text-orange-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4" /></svg>
            creamos sitios web únicos que reflejan tu marca, tu estilo y tus objetivos</p>

            <span class="text-orange-400">Tu presencia online, unica y poderosa</span>
    </div>
    <div class="card border border-double rounded-2xl p-5">
        <h3 class="mb-3 font-bold text-xl">La clave para el desarrollo web exitoso: la comunicación</h3>
        <p class="text-left text-xs leading-6">
            <svg class="icon icon-tabler icon-tabler-corner-right-down text-orange-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4" /></svg>
            Creo en la importancia de una comunicacioón clara, abiera y transparente durante todo el proceso del desarrollo, por eso me comprometo a:
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Mantenerte informado en cada etapa del proyecto.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Ser receptivos a tus preguntas y comentarios.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Solicitar tu opinion y feedback.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Ser proactivos en la resolución de problemas.
        </p>
    </div>

    <div class="card border border-double rounded-2xl p-5">
        <h3 class="mb-3 font-bold text-xl">Precios accesibles</h3>
        <p class="text-left text-xs leading-6">
            <svg class="icon icon-tabler icon-tabler-corner-right-down text-orange-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6h6a3 3 0 0 1 3 3v10l-4 -4m8 0l-4 4" /></svg>
            Te ofrecemos soluciones web de alta calidad a precios que te sorprenderan y obtendras:
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Diseños personalizados.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Funcionalidades avanzadas.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Experiencias de usuario fluidas e intuitivas.
        </p>
        <p class="text-left text-xs leading-6 flex">
            <svg class="icon icon-tabler icon-tabler-arrow-right-square text-red-400 text-sm" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 12l14 0" /><path d="M18 15l3 -3l-3 -3" /><path d="M3 10h4v4h-4z" /></svg>
            Ser proactivos en la resolución de problemas.
        </p>
        <span class="text-orange-400">Solicita tu presupuesto hoy mismo, haciendo click aqui</span>
    </div>
    <div class="bg-box"></div>
</section>
<style>
    .card {
        background: rgb(1,17,34);
        background: radial-gradient(circle, rgb(2, 21, 40) 0%, rgba(3,15,29,1) 100%);  
        z-index: 500;
    }
    div.bg-box {
        background-color: #061323;
        position: absolute;
        width: 600px;
        height: 600px;
        right: -100px;
        top: -100px;
        border-radius: 50px;
        z-index: 0;
        transform: rotate(25deg);
    }
</style>