---
---
<nav class="fixed w-full">
    <div class="border flex justify-around gap-4 border-gray-700 bg-gray-800 m-auto text-gray-400 max-w-[1024px]">
        <a class="cursor-pointer hover:bg-gray-700 w-full pt-3 pb-3 text-center" href="#works">Trabajos</a>
        <a class="cursor-pointer hover:bg-gray-700 w-full pt-3 pb-3 text-center" href="#about">Sobre mi</a>
        <a class="cursor-pointer text-green-500 hover:bg-green-700 w-full pt-3 pb-3 text-center" href="https://www.linkedin.com/in/palacios-yonatan/">Contactame</a>
    </div>
</nav>
<style>
    nav {
        z-index: 1000;
    }
</style>