---
import { Image } from "astro:assets";
import photo from "../utils/images/portrait.webp";
---
<div class="z-200">
    <Image src={photo} alt="Foto desarrollador web" class="m-auto w-[360px] z-500" />
</div>

