---
import { Image } from "astro:assets";
import { SKILLS } from "../constants/index";
---
<div class="grid grid-cols-5 gap-4 mt-5">
    {
        SKILLS.map((item, i) => {
            return (
                <div  class="tooltip">
<span class="tooltiptext">{item.name}</span>
                <Image
                    src={item.img}
                    class="w-[50px] images"
                    alt="item.name"
                    />
                </div>
            );
        })
    }
</div>
<style>
    .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 100;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        }
        .tooltip:hover .tooltiptext {
        visibility: visible;
        }
</style>