---
import { Image } from "astro:assets"
import { WORKS } from "../constants/index.js"
import arrow from "../utils/images/flecha.png"
---
<div class="card div4">
    <h2>Proyectos</h2>
    <div class="images">
        {
            WORKS?.map((item, i) => (
                <Image class="image" src={item.img} alt="" />
            ))
        }
    </div>
    <Image class="arrow" src={arrow} alt="" />
</div>
<style>
    .images {
        overflow: auto;
    }
    .image {
        margin-bottom: 20px;
    }
    .div4 {
        max-height: 413px;
    }
</style>